<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rmit.s3539519.madassignment1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/title_trackable_list"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.TrackableListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.TrackingListActivity"
            android:label="@string/title_activity_tracking" />
        <activity
            android:name=".controller.EditTrackingActivity"
            android:label="@string/title_edit_tracking" />
        <activity android:name=".controller.TrackableScheduleActivity" android:label="@string/title_activity_schedule"></activity>

    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
</manifest>